
.TextMessage {
  position: absolute;
  left: 10px;
  right: 100px;
  bottom: 10px;
  min-height: 130px;
  padding: 4px;
  background: var(--menu-background);
  border: 3px solid white;
  color: var(--menu-font-color);
  font-family:omori2;
  position:absolute;
}

@font-face{
  font-family:omori1;
  src:url(Sounds/OMORI_GAME.ttf);
}

@font-face{
  font-family:omori2;
  src:url(Sounds/OMORI_GAME2.ttf);
}

.TextMessage_p {
  margin: 0;
  font-size: 34px;
  position:relative;
  left:5px;
  top:5px
}
.TextMessage span {
  opacity: 0;
}
.TextMessage span.revealed {
  opacity: 1;
}

.TextMessage {
  position:absolute;
  top:62%;
  bottom:27%;
}

.TextMessage_button {
  margin: 0px;
  font-size: 8px;  
  padding:0;
  background:none;
  border:0;
  visibility:visible;
  font-family: inherit;
  cursor: pointer;
  position: absolute;
  right: 0px;
  bottom: 0;
}
.TextMessageImageButton{
  image-rendering: pixelated;
  transform:scale(0.7);
  animation:bouncingHands 2s linear;
  animation-iteration-count: infinite;
}

@keyframes bouncingHands{
  from{
    transform:translateX(0px) scale(0.7);
  }
  50%{
    transform:translateX(12px) scale(0.7);
    transition: all  1000ms ease-in;
  }
  to{
    transform:translateX(0px) scale(0.7);
  }
}





.TextMessageImageDiv{
position:absolute;
margin-top:-390px;
border:3px solid white;
height:136px;
right:100px;
width:136px;
display:flex;

justify-content:center;
margin-left:706px;
background-color:black;
}

.TextMessageImage{
position:absolute;
bottom:0;
height:110px;
}
.TextMessageName{
  position:absolute;
margin-top:-310px;
border:3px solid white;
height:36px;
min-width:111px;
padding:25px 10px;
color:white;
z-index:3;
margin-left:10px;
background-color:black;
font-family:omori2;
font-size:40px;
display:flex;
justify-content:center;
align-items:center;
}